<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>IsHere: Que quieres comer Hoy?</title>
</head>
<body>
    <header>
        <span>Ishere</span> 
        <ul>
            <li>Login</li>
        </ul>
    </header>

        <div class="ext-hero">
      
            <div class="hero">
                <div class="container text-saludo">
                    <p class="h1" id="saludo">Encuentra, compra y califica lo que necesitas...</p>
                </div>
                <div >
                <img class="img-mujer" src="img/points-vector.png">
            </div>
            </div>
        
          </div>

    <div class="container">
        <p class="h2">Nuevos Restaurantes Agregados</p>
    </div>
    <div class="container-carrusel">
    <section class="carrusel" id="este">
        <% datos.negocios.map(item =>{ %>
            <a href="/business/<%= item.datos.id %>"><div class="carrusel-tarjeta" id="<%= item.datos.id %>">
                <div class="carrusel-img">
                <img class="carrusel-imagen" src="<%= item.datos.imagen %>">
            </div>
                <div class="">
                    <h2 class="title-card"><%= item.datos.nombre %></h2>
                    <a href="/business/<%= item.datos.id %>" class="btn-link">Ver Menu</a>
                </div>
                
                </div></a>
       <% }) %>
    </section>
</div>
<section class="copy1">
    <div class="container">
        <h2>Descubre nuevos restaurantes, decide gracias a las calificaciones y experimenta nuevas experiencias.</h2>
    </div>
</section>
    <section id="blog" class="container">
    <% datos.posts.map(item =>{ %>
                    <h2 class="title-card"><%= item.datos.titulo %></h2>
                    <p><%= item.datos.descripcion %></p>
       <% }) %>
    </section>

</body>
</html>