<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">

    <script crossorigin='anonymous' src='https://kit.fontawesome.com/bbfd0abfad.js'></script>
    <link rel="stylesheet" href="style-perfil.css">
    
    <title>Document</title>
</head>
<body>
    <header>
        <p id="click">Points</p>
        <%- include('./partials/menu.ejs'); -%>
    </header>
    <section class="hero">
        <img class="hero-img"src="<%= imagen %>" alt="<%= nombre %>">
        <h1><%= nombre %></h1>
        <div id="mapid"></div>
    </section>
    <section class="descripcion">
        <p><%= descripcion %></p>
    </section>
   <style>
       .leaflet-container{
           width: 100%;
           height: 300px;
       }
   </style>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script>
     var mymap = L.map('mapid').setView([<%= lat %>, <%= lng %>], 16);
      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=sk.eyJ1Ijoic2FtdWVsY2FzdGlsbG9ndCIsImEiOiJja2tvbDkxaHAwMHhkMm9tYTA1bWJvdHcxIn0.b7-x19SDtVcorEa07M4ZqQ', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 25,
      id: 'mapbox/satellite-v9',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'sk.eyJ1Ijoic2FtdWVsY2FzdGlsbG9ndCIsImEiOiJja2tvbDkxaHAwMHhkMm9tYTA1bWJvdHcxIn0.b7-x19SDtVcorEa07M4ZqQ'
  }).addTo(mymap);
  var marker = L.marker([<%= lat %>, <%= lng %>]).addTo(mymap);
  marker.bindPopup(`<b><%= nombre %></b><br><%= categoria %><br>`).openPopup();
var popup = L.popup();
    </script>
    <script>
        $(".menu-buton").click(()=>{

            $(".menu-movil").toggle("hidden")
        })
    </script>
</body>
</html>
